body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #f2e7db;
  font-family: 'Outfit', sans-serif;
}

.holder {
  width: 80%;
  max-width: 600px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  margin: 0 auto;
}

.image-container img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.heading {
  font-family: 'Young Serif', serif;
  font-size: 2em;
  margin-top: 20px;
}

.para-one {
  margin-bottom: 20px;
}

h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

ul, ol {
  padding-left: 20px;
  margin-left: 0;
}

ul li, ol li {
  margin-bottom: 10px;
}
span{
  color: hsl(332, 51%, 32%) ;
}
.diff-container{
  background-color:hsl(330, 100%, 98%) ;
}

ol li::marker {
    color:hsl(14, 45%, 36%);
    font-weight: bold;
}
h2{
  color: hsl(14, 45%, 36%);
  font-family: 'Young Serif', serif;;
}
.attribution {
  margin-top: 20px;
  font-size: 0.8em;
  text-align: center;
}

.attribution a {
  color: #b5651d;
  text-decoration: none;
}

.attribution a:hover {
  text-decoration: underline;
}

.nutrition-table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

table {
    width: 50%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    padding: 10px 20px;
    text-align: left;
}

th {
    color: #555;
    font-weight: normal;
}
.net{
  color:hsl(14, 45%, 36%);
  font-weight: bold;
}

tr:not(:last-child) {
    border-bottom: 1px solid #ddd;
}








/* - White: hsl(0, 0%, 100%)

- Stone 100: hsl(30, 54%, 90%)
- Stone 150: hsl(30, 18%, 87%)
- Stone 600: hsl(30, 10%, 34%)
- Stone 900: hsl(24, 5%, 18%)

- Brown 800: hsl(14, 45%, 36%)

- Rose 800: hsl(332, 51%, 32%)
- Rose 60: hsl(330, 100%, 98%)
*/